---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  BeforeElse: false

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# Spacing
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInContainerLiterals: false

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Pointer alignment
PointerAlignment: Left

# Comments
ReflowComments: true

# Modern C++
Standard: c++17
...
